.gradle
/local.properties
/keystore.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.jks
*.apk
*.iml
/app/src/main/java/com/kachidoki/me/onenettest/OLDAPP/config/API.java
